body {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.green {
  background-color: rgb(114, 186, 114);
}

nav {
  display: inline-block;
}

.svgNav {
  color: rgb(114, 186, 114);
}
